.cmmp-big-block {
	text-align: center;
	color: #fff;
	background: #c41e3b;
	border-radius: 4px;
	max-width: 550px;
	margin: 10px auto;

	&-title {
		color: #fff;
		margin: 0;
		line-height: 1;
		padding: 10px 0 0;
	}

	&-big-text {
		font-weight: bold;
		font-size: 3em;
		line-height: 1;
		padding: 10px 0;
	}
}
