.cmmp-button-box {
	margin: 10px 0;
	display: inline-block;
}

a.cmmp-button {
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #9b9a9b;
	color: #7c7e7d;
	padding: 10px 15px;
	border-radius: 4px;

	&:hover {
		text-decoration: none;
		border: 1px solid #c41e3b;
		color: #fff;
		background: #c41e3b;
	}
}
