/* ean AKA events and news */
.cmmp-ean {
	margin-bottom: 10px;
}

.cmmp-ean-post-row::after {
	width: 100%;
	margin-bottom: 10px;
}

.cmmp-ean-post {
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

/* ==== Image Box Styles ==== */
.cmmp-ean-img-box-inner {
	display: block;

	&:hover,
	&:active {
		outline: none;
		border: none;
	}
}

/* ==== Content Box Styles ==== */
.cmmp-ean-content-box-outer {
	border-radius: 0 4px 4px 0;
	border-left: 1px solid #d7d7d7;
	background: #fff;
	padding: 15px;
	overflow: hidden;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 10px;
		box-shadow: 0 0 5px 2px #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #fff;
	}
}

.cmmp-ean-content {
	margin-top: 5px;

	.cmmp-ean-block & {
		font-size: 0.875em;
		overflow: hidden;
	}

	.cmmp-ean-block & p {
		line-height: normal;
	}
}

.cmmp-ean-title {
	margin: 0;
	display: inline-block;
}

.cmmp-ean-title-link:hover {
	text-decoration: none;

	.cmmp-ean-title {
		color: #c41e3b;
	}
}


/* ==== Events Specific Styles ==== */
.post-type-pwi_events .cmmp-ean-content-box-inner {
	margin-left: 85px;
}


/* ==== Event Date Box ==== */
.cmmp-event-date-box {
	position: absolute;
	top: 15px;
	left: 15px;
}

.cmmp-event-date {
	border: 1px solid #d7d7d7;
	text-align: center;
	border-radius: 4px;
	padding: 10px;
	line-height: 1;
	width: 70px;
}

.cmmp-event-date-day {
	font-size: 2em;
}


/* ==== seeall Button ==== */
.cmmp-ean-seeall-box .cmmp-button-box {
	width: 100%;
	text-align: right;
	margin: 0;
}

/* ==== Loadmore Button ==== */
.cmmp-ean-loadmore-box .cmmp-button-box {
	width: 100%;
	text-align: center;
	margin: 0;
}

.cmmp-ean-loading-gif {
	text-align: center;
	display: block;
	margin: 10px auto 0;
	height: 42px;
	width: 42px;
}

@media (max-width: 991px) {
	.cmmp-ean-content-box-outer {position: relative;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.cmmp-ean-block {
		.cmmp-ean-content-box-outer {
			position: absolute;
		}

		.cmmp-ean-content-box-inner {
			display: table;
			height: 100%;
			width: 100%;
		}

		&.post-type-pwi_events .cmmp-ean-content-box-inner {
			margin: 0;
			padding-left: 85px;
		}

		.cmmp-ean-title-box {
			display: table-cell;
			vertical-align: middle;
		}

		.cmmp-ean-content {
			display: none;
		}
	}

}

@media (max-width: 767px) {
	.cmmp-ean-content-box-outer {
		position: relative;
	}
}
